@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   scroll-behavior: smooth;
   background: linear-gradient(
      to bottom,
      #000101 0%,
      rgb(34, 57, 49),
      rgb(34, 57, 49)
   );
}

body::-webkit-scrollbar {
   width: 14px;
   background: black;
}

body::-webkit-scrollbar-thumb {
   background: rgb(110 110 110);
}

body::-webkit-scrollbar-thumb:hover {
   background: rgba(110 110 110 / 0.5);
}

.animated-text {
   background: linear-gradient(to right, #e73c7e, rgba(1, 185, 241, 1));
   background-size: 150% 150%;
   background-clip: text;
   color: transparent;
   animation: gradient 10s ease infinite;
}

@keyframes gradient {
   0% {
      background-position: 0% 50%;
   }
   50% {
      background-position: 100% 50%;
   }
   100% {
      background-position: 0% 50%;
   }
}

.navbar {
   backdrop-filter: blur(20px) saturate(1.7);
}

img {
   overflow-clip-margin: content-box;
   overflow: clip;
}
